.header {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-white;
    z-index:1;
    border-bottom: 1px solid $color-light-grey;

    &__inner {
        position: relative;
    }

    &__content {
        max-width: 1290px;
        margin: 0 auto;
    }

    &__nav {
        justify-content: space-between;
        @include media-tablet-plus {
            justify-content: center;
        }

        &--mobile {
            display: flex;
            @include media-tablet-plus {
                display: none;
            }
        }

        &-hidden {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 60px;
            width: 100%;
            height: 100vh;
            background-color: rgba(0,0,0,0.85);

            .header__link {
                display: block;
                text-align: center;
                color: $color-white;
                font-size: 18px;
            }
        }

        &--desktop {
            display: none;

            .header__link--logo {
                display: block;
                margin: 0 auto;
            }

            .header__nav-top {
                padding-top: 15px;
                .header__link {
                    padding: 17px 20px;
                }
            }

            .header__nav-bottom {
                display: flex;
                max-width: 768px;
                margin: 0 auto;
                padding-bottom: 10px;

                .header__link {
                    padding: 17px 20px;
                    text-align: center;
                }
            }

            @include media-tablet-plus {
                display: block;
            }

            @include media-bigscreen-plus {
                display: none;
            }
        }

        &--bigscreen {
            display: none;
            @include media-bigscreen-plus {
                display: flex;
            }
        }
    }

    &__link {
        padding: 20px 0;
        color: $color-light-grey;
        font-size: 15px;
        line-height: 1.5em;
        text-transform: uppercase;
        transition: 0.3s;
        @include media-tablet-plus {
            flex: 1;
            padding: 30px 20px;
        }

        &--logo {
            width: 137px;
            height: 21px;
            background-image: url($header-logo);
            background-repeat: no-repeat;
            background-position: center center;
        }

        &--cart {
            padding: 20px;
            width: 25px;
            height: 25px;
            background-image: url($cart-default);
            background-repeat: no-repeat;
            background-position: center center;
            transition: none;

            &-full {
                background-image: url($cart-full);
            }

            &:hover,
            &:focus {
                background-image: url($cart-hover);
            }

            @include media-tablet-plus {
                position: absolute;
                top: 8px;
                right: 5px;
            }
        }

        &--burger {
            padding: 20px;
            width: 25px;
            height: 25px;
            background-image: url($burger);
            background-repeat: no-repeat;
            background-position: center center;
        }

        &--close {
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px;
            width: 25px;
            height: 25px;
            background-image: url($cross);
            background-repeat: no-repeat;
            background-position: center center;
        }

        &--right {
            text-align: right;
        }

        &--active,
        &:hover {
            color: $color-black;
        }
    }
}
