.indent {
    & + & {
        margin-top: 40px;
    }
    & + .indent--0 {
        margin-top: 0;
    }
    & + .indent--15 {
        margin-top: 15px;
    }
    & + .indent--30 {
        margin-top: 30px;
    }
    & + .indent--60 {
        margin-top: 60px;
    }
    & + .indent--80 {
        margin-top: 80px;
    }
    & + .indent--120 {
        margin-top: 120px;
    }
    & + .indent--140 {
        margin-top: 140px;
    }
}
