.section {
    position: relative;
    padding: 80px 20px;
    text-align: center;

    & + & {
        padding-top: 40px;
    }

    &--join-bottom {
        padding-bottom: 40px;
    }

    & + &--join-top {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 120px;
    }
}
