.wrap {
    text-align: center;
    font-size: 0rem;

    &__item {
        position: relative;
        display: block;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 1rem;
    }

    &__item--2,
    &__item--3,
    &__item--4,
    &__item--5 {
        width: 100%;
    }

    &__item--5 {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        margin-top: 30px;
    }

    @include media-tablet-plus {
        &__item {
            display: inline-block;
            vertical-align: top;
            margin-top: 0;
            padding: 0;
        }
        &__item--2 {
            width: 50%;
        }
        &__item--3 {
            width: 33.3333%;
        }
        &__item--4 {
            width: 25%;
        }
        &__item--5 {
            width: 20%;
        }
    }

    &--middle .wrap__item {
        vertical-align: middle;
    }

    &--desktop {
        @include media-tablet-plus {
            .wrap__item {
                position: relative;
                display: block;
                box-sizing: border-box;
                margin: 0;
                padding: 0;
                width: 100%;
                font-size: 1rem;
            }

            .wrap__item--2,
            .wrap__item--3,
            .wrap__item--4,
            .wrap__item--5 {
                width: 100%;
            }

            .wrap__item--5 {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                margin-top: 30px;
            }
        }
        @include media-desktop-plus {
            .wrap__item {
                display: inline-block;
                vertical-align: top;
                margin-top: 0;
                padding: 0;
            }
            .wrap__item--2 {
                width: 50%;
            }
            .wrap__item--3 {
                width: 33.3333%;
            }
            .wrap__item--4 {
                width: 25%;
            }
            .wrap__item--5 {
                width: 20%;
            }
        }

    }
}
