.box {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0;
    border-radius: 5px;
    border: 0;
    background-color: rgba(9,190,207,.1);
    transition: all 200ms linear 0ms;
    &__content {
        padding: 20px;
        padding-bottom: 20px;
    }
    &:hover {
        //box-shadow: 0px 40px 30px -30px rgba(0,0,0,0.2);
    }
    &--primary {
        background-color: $color-primary;
        color: $color-white;
    }
    &--outline {
        border: 1px solid $color-primary;
        background-color: $color-white;
    }
    &--white {
        top: 0;
        background-color: $color-white;
        color: #aaa;
        &:hover {
            top: -10px;
        }
    }
    &--red {
        background-color: #ed1c24;
        @include media-tablet-plus {
            bottom: 70px;
            &:hover {
                bottom: 80px;
            }
        }
    }
    @include media-tablet-plus {
        margin: 10px;
        &--left {
            margin-left: 0;
        }
        &--right {
            margin-right: 0;
        }
    }
    &--invade {
        margin-left: 0;
        margin-top: 0;
        padding-left: 15px;
        text-align: center;
        @include media-tablet-plus {
            margin-left: -150px;
            margin-top: 100px;
            padding-left: 50px;
            text-align: left;
        }
    }
    .hero--main &--invade {
        padding-left: 15px;
        @include media-tablet-plus {
            padding-left: 150px;
        }
    }
    &--with-shadow {
        box-shadow: 0 1px 4px -3px rgba(0,0,0,.75);
    }
}
