.btn {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 14px 60px;
    background-color: $color-white;
    color: $color-black;
    font-family: $main-font;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    border: 2px solid $color-black;
    transition: 0.3s;
    cursor: pointer;
    outline: 1px solid transparent;
}
.btn:hover {
    text-decoration: none;
    background-color: $color-black;
    color: $color-white;
}
.btn:focus {
    outline: #39c solid 1px;
    text-decoration: none;
}
.btn:active {
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    background-color: #e5f6ff;
    transition: none;
}
.btn[disabled],
.btn:hover[disabled] {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-color: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    cursor: not-allowed;
}
