.body--overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    z-index: 10;
}

.cart {
    background-color: $color-white;
    &--quick {
        position: fixed;
        top: 0;
        right: 0;
        min-width: 100%;
        z-index: 11;

        @include media-tablet-plus {
            min-width: 360px;
        }

        .cart__header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .cart__icon {
            padding: 28px 30px;
            width: 25px;
            height: 25px;
            background-image: url($cart-full);
            background-repeat: no-repeat;
            background-position: center center;
        }
        .cart__title {

        }
        .cart__close {
            padding: 28px;
            width: 25px;
            height: 25px;
            background-image: url($cross-black);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 20px;
        }
        .cart__message {
            padding: 25px 35px;
            background-color: $color-blue;
            color: $color-white;
            text-align: center;
        }
        .cart__content {
            padding: 40px 0;
        }
        .cart__total {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 1px solid $color-light-grey;
        }
        .cart__total > * {
            padding: 20px 35px;
        }
        .cart__action {
            display: block;
            padding: 20px 35px;
            background-color: $color-black;
            color: $color-white;
            text-align: center;
        }
    }
}
