.card {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    max-width: 500px;
    min-height: 400px;
    text-align: center;
    @include media-tablet-plus {
        padding-top: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -250px;
        width: 500px;
        height: 400px;
    }
    &__logo {
        display: block;
        margin: 0 auto;
        background-image: url('../img/logo.png');
        width: 300px;
        height: 70px;
        background-size: 300px;
        background-position: center center;
        background-repeat: no-repeat;
        vertical-align: middle;
        padding: 10px;
    }
}
