.cookie-bar {
    display: none;
    padding: 15px;
    background-color: $color-black;
    text-align: center;

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        width: 25px;
        height: 18px;
        background-image: url($cross);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px;

        @include media-tablet-plus {
            right: 10px;
        }
    }

    p {
        padding: 0 25px;
        font-size: 11px;
        line-height: 2em;
    }

    a {
        white-space: nowrap;
    }
}
