.form {
    &__item {
        display: block;
        max-width: 365px;
        margin: 0 auto;
    }

    input,
    label {
        -webkit-appearance: none;
        appearance: none;
        color: $color-light-grey;
        font-family: $main-font;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    input::placeholder {
        color: $color-light-grey;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"] {
        display: block;
        width: 100%;
        padding: 13px 0;
        border: 0;
        border-bottom: 2px solid $color-light-grey;
        border-radius: 0;
        background: none;
        transition: 0.3s;

        &:focus {
            border-color: $color-black;
            outline: none;
        }
    }

    .form__item--error {
        input::placeholder {
            color: $color-red;
        }
        input[type="text"],
        input[type="email"],
        input[type="tel"] {
            color: $color-red;
            border-bottom: 2px solid $color-red;
        }
    }

    &__error-box {
        padding: 25px 20px;
        background-color: $color-red;
        color: $color-white;
        font-family: $main-font;
        font-size: 13px;
        line-height: 1.5em;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
    }

    &__checkbox {
        position: relative;
        display: block;
        cursor: pointer;

        input[type="checkbox"] {
            display: none;
        }

        &-label {
            padding-left: 40px;
            display: inline-block;
            text-align: left;
            line-height: 1.5em;

            @include media-tablet-plus {
                padding-left: 30px;
            }

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -5px;
                left: 0;
                width: 24px;
                height: 24px;
                background-image: url($checkbox);
                background-color: $color-white;
                background-repeat: no-repeat;
                background-position: center center;
            }
        }

        &-input:checked ~ &-label:before {
            background-image: url($checkbox-checked);
        }

        &--icon {
            padding-right: 30px;

            .icon {
                position: absolute;
                top: -5px;
                right: 0;
            }
        }
    }
}
