.helper {
    &--mobile-hide {
        display: none;

        @include media-tablet-plus {
            display: inline-block;
        }
    }
    &--tablet-hide {
        @include media-tablet-plus {
            display: none!important;
        }
        @include media-desktop-plus {
            display: inline-block!important;
        }
    }
}
