.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    min-height: 380px;
    background-color: $color-light;

    &__content {
        text-align: center;
    }
}
