.icon {
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;

    &--plus {
        width: 40px;
        height: 40px;
        background-image: url($plus);
    }

    &--help {
        width: 23px;
        height: 23px;
        background-image: url('../../assets/icons/napoveda.svg');
    }
}
