.media {
    display: flex;
    justify-content: center;
    min-height: 580px;
    background-color: $color-black;
    background-repeat: no-repeat;
    background-position: center center;

    &--thin {
        min-height: 420px;
    }

    &__content {
        flex: 1;
        align-self: center;
        max-width: 768px;
        padding: 0 20px;
        color: $color-white;
        text-align: center;
    }
}
