.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(31,31,31,0.4);
    z-index: 2;

    &__content {
        box-sizing: border-box;
        position: relative;
        margin: 10vh auto;
        padding: 40px;
        width: 100%;
        max-width: 400px;
        background-color: $color-white;
    }
    &__close {
        position: absolute;
        top: -50px;
        right: 13px;
        width: 40px;
        height: 40px;
        background-image: url($cross);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 15px;

        @include media-tablet-plus {
            top: -15px;
            right: -40px;
        }
    }
}
