.product-list {
    display: block;
    color: $color-dark-grey;
    transition: 0.3s;

    @include media-desktop-plus {
        padding: 40px 0;

        &--not-spaced {
            padding: 0;
        }
    }

    &:hover {
        color: $color-black;

        .product-list__image {
            border-color: $color-black;
        }
    }

    &__image {
        display: block;
        margin: 0 auto;
        width: 100%;
        max-width: 150px;
        height: 150px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 150px;
        border: 1px solid transparent;
        transition: 0.3s;

        @include media-tablet-plus {
            max-width: 200px;
            height: 160px;
            background-size: 100%;
        }
    }

    &__text {
        display: block;
        padding: 20px 0 10px 0;
        &--large {
            padding-top: 10px;
            font-size: 20px;
            line-height: 1.5em;
        }
    }

    &__note {
        color: $color-light-grey;
    }
}
