.tabs {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;

    li {
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    &__item {
        padding: 10px;
        color: #000;
        text-decoration: none;
        border: 1px solid #eee;
        border-radius: 5px;
        font-size: 12px;

        @include media-tablet-plus {
            padding: 10px 20px;
            font-size: 16px;
        }

        &--active {
            background-color: #eee;
        }
    }

    &__content {
        display: none;
    }
}
