h1,h2,h3 {
    margin: 0;
}
h1 {
    font-size: 54px;
    line-height: 1.5em;
}

h2,
.as-h2 {
    font-size: $font-size-large;
    line-height: $line-height-large;
    letter-spacing: 8px;
}
h2.typo--serif {
    font-size: 33px;
    line-height: 41px;
}

h3 {
    font-size: $font-size-bigger;
    line-height: $line-height-bigger;
    font-weight: 400;
}

p {
    margin: 0;
    padding: 0;
    font-size: $font-size-default-text;
    line-height: $line-height-default-text;
}

.typo {
    &--sans {
        font-family: $main-font;
        letter-spacing: 0.15em;
        font-weight: normal;
    }
    &--serif {
        font-family: $secondary-font;
        font-style: normal;
        letter-spacing: 0.15em;
        font-weight: normal;
    }
    &--align-justify {
        text-align: justify;
        text-align-last: justify;
        max-width: 480px;
        margin: 0 auto;
    }
    &--color-light {
        color: $color-light-grey;
    }
    &--color-white {
        color: $color-white;
    }
    &--color-blue {
        color: $color-blue!important;
    }
    &--uppercase {
        text-transform: uppercase;
    }
    &--larger {
        display: block;
        font-size: 20px;
    }
    &--small {
        font-size: 13px;
    }
}
