@font-face {
    font-family: 'am_sansregular';
    src: url('../../assets/fonts/amsansr-webfont.woff2') format('woff2'),
         url('../../assets/fonts/amsansr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tex_gyre_termesbold';
    src: url('../../assets/fonts/texgyretermes-bold-webfont.woff2') format('woff2'),
         url('../../assets/fonts/texgyretermes-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'texgyretermesbold_italic';
    src: url('../../assets/fonts/texgyretermes-bolditalic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/texgyretermes-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'texgyretermesitalic';
    src: url('../../assets/fonts/texgyretermes-italic-webfont.woff2') format('woff2'),
         url('../../assets/fonts/texgyretermes-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'texgyretermesregular';
    src: url('../../assets/fonts/texgyretermes-regular-webfont.woff2') format('woff2'),
         url('../../assets/fonts/texgyretermes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
