/**
 * This file contains project's SASS mixins:
 *
 * 1. Responsive media queries
 */
 
/**
 * [1] RESPONSIVE MEDIA QUERIES
 */
@mixin media-full-hd-plus {
     @media screen and (min-width: $media-full-hd){
        @content;
    }
}

@mixin media-bigscreen-plus {
     @media screen and (min-width: $media-bigscreen){
        @content;
    }
}

@mixin media-desktop-plus {
     @media screen and (min-width: $media-desktop){
        @content;
    }
}

@mixin media-tablet-plus {
     @media screen and (min-width: $media-tablet){
        @content;
    }
}

@mixin media-large-mobile-plus {
     @media screen and (min-width: $media-large-mobile){
        @content;
    }
}
